html {
  position: relative;
  min-height: 95%;
}

body {
  display: block;
  background: url(img/background.jpg) center center / cover no-repeat fixed;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* Home Link & Reset */
nav {
  min-height: 32px;
  margin-top: 15px;
}

nav a,
nav span {
  height: 32px;
  background-color: #ffffff;
  color: #404040;
  font-size: 1;
  margin: 5px;
  padding: 5px 8px;
  border-radius: 7px;
  border: 1px solid #404040;
  text-decoration: none;
}

nav a:hover,
nav span:hover {
  color: #fff;
  background-color: #404040;
}

main {
  text-align: center;
}

h1 {
  font-size: 2.2em;
  font-weight: 400;
}

.instruction > p {
  font-size: 1.25em;
  padding-left: 15px;
  padding-right: 15px;
}

#startButton {
  margin: 50px auto;
  cursor: pointer;
}

.counter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 1.5em;
  margin-top: 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.counter strong {
  color: #8b0000;
}

.flyarea {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto 10px;
  padding-bottom: 0;
  cursor: url(img/swatter2.png), crosshair;
}

#box {
  position: relative;
  margin: 0 auto;
  width: 400px;
  top: 10px;
  bottom: 0;
  background-color: transparent;
  /* overflow: hidden; */
  cursor: url(img/swatter2.png), crosshair;
}

#fly {
  position: absolute;
  display: block;
  -webkit-animation: moveX 3.05s linear 0s infinite alternate,
    moveY 3.4s linear 0s infinite alternate;
  -moz-animation: moveX 3.05s linear 0s infinite alternate,
    moveY 3.4s linear 0s infinite alternate;
  -o-animation: moveX 3.05s linear 0s infinite alternate,
    moveY 3.4s linear 0s infinite alternate;
  animation: moveX 3.05s linear 0s infinite alternate,
    moveY 3.4s linear 0s infinite alternate;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: url(img/swatter2.png), crosshair;
}

@-webkit-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 250px;
  }
}
@-moz-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 250px;
  }
}
@-o-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 250px;
  }
}
@keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 250px;
  }
}
@-webkit-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 250px;
  }
}
@-moz-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 250px;
  }
}
@-o-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 250px;
  }
}
@keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 250px;
  }
}

#over {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  top: 200px;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

#over p {
  font-size: 1.3em;
}

.yesDisplay {
  display: block;
}

.noDisplay {
  display: none;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 10px;
  width: 100%;
  text-align: center;
}
